
@font-face {
	font-family: 'Conv_Overpass-Regular';
	src: url('fonts/Overpass-Regular.eot');
	src: local('☺'), url('fonts/Overpass-Regular.woff') format('woff'), url('fonts/Overpass-Regular.ttf') format('truetype'), url('fonts/Overpass-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Overpass-ExtraBold';
	src: url('fonts/Overpass-ExtraBold.eot');
	src: local('☺'), url('fonts/Overpass-ExtraBold.woff') format('woff'), url('fonts/Overpass-ExtraBold.ttf') format('truetype'), url('fonts/Overpass-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	margin: 0;
	padding: 0;
}
.hero_area {
	padding: 0;
	margin: 0;
	height: 1080px;
	width: 100%;
	background-image: url(img/bg.png);
}
.content {
	width: 1170px;
	margin: 0px auto;
	position: relative;
	z-index: 2;
}
.header{
	padding-top: 48px;
	height: 48px;
	width: 100%;
}
.logo {
	height: 48px;
	width: 120px;
	float: left;
}
.logo img {
	position: relative;
	top: 10%;
}
.nav {
	position: relative;
	margin-left: 154px;
	top: 22%;
	float: left;
}
.nav a {
	text-decoration: none;
	font-size: 20px;
	margin-right: 30px;
	color: black; 
	font-family: 'Conv_Overpass-Regular';
}
.button {
	height: 43px;
	width: 180px;
	border: 2px solid #c04ae2;
	border-radius: 7px;
	text-align: center;
	float: left;
}
.button a {
	position: relative;
	top: 18%;
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Conv_Overpass-Regular';
	font-style: bold;
	font-size: 23px;
}
.social {
	float: left;
	margin-left: 30px;
	position: relative;
	top: 22%;
}
.hero_title {
	width: 570px;
}
.hero_title h1 {
	margin-top: 168px;
	padding: 0;
	line-height: 108px;
	font-size: 90px;
	font-family: 'Conv_Overpass-ExtraBold';
	width: 
}
.hero_title p {
	font-size: 30px;
	margin: 0;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
}
a {
	position: relative;
	text-decoration: none;
}
.button1 {
	margin-top: 55px;
	width: 241px;
	height: 72px;
	background-color: #c04ae2;
	border-radius: 7px;
	text-align: center;

}
.button1 p {
	padding-top: 9%; 
	text-decoration: none;
	color: white;
	font-size: 24px;
	font-family: 'Conv_Overpass-Regular';
}
.background {
	position: absolute;
	left: 990px;
	top: 232px;
}
.styleelement img{
	position: absolute;
	top: 111px;
	left: 67px;
}
.blur {
	position: absolute;
	top: 0;
	left: 0; 
}
.intro {
	background-color: white;
	width: 100%;
}


.intro {
	height: 998px;
}
.intro_title {
	width: 769px;
	height: 219px;
	text-align: center;
	margin: 192px auto 94px;
}
.intro_title p {
	padding: 0;
	letter-spacing: 5px;
	margin: 0;
	font-size: 24px;
	color: #c04ae2;
	font-family: 'Conv_Overpass-Regular';
}
.intro_title h2{
	font-family: 'Conv_Overpass-ExtraBold';
	font-size: 60px;
	color: black;
	margin: 50px auto;
}
.item1 {
	height: 496px;
	width: 360px;
	border: 7px solid #fcd7df;
	border-radius: 18px;
	float: left;
}
.item2 {
	height: 496px;
	width: 360px;
	border: 7px solid #c9f3e2;
	border-radius: 18px;
	float: left;
	margin-left: 22px;
}
.item3 {
	height: 496px;
	width: 360px;
	border: 7px solid #f2d5ba;
	border-radius: 18px;
	float: left;
	margin-left: 22px;
}
.item1 img {
	margin-top: 93px;
	margin-left: 148px;
}
.item2 img {
	margin-top: 93px;
	margin-left: 143px;
}
.item3 img {
	margin-top: 93px;
	margin-left: 143px;
}
.text {
	text-align: center;
	width: 274px;
	height: 180px;
	margin: 52px auto;
}
.text h3 {
	font-size: 30px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
	margin: 0;
	line-height: 42px;
}
.text p {
	margin: 0;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
	font-size: 20px;
	line-height: 28px;
	margin-top: 36px;
}
.blurintro {
	position: relative;
	top: -1190px;
}
.styleintro {
	position: absolute;
	top: 1110px;
	left: 148px;
}
.about{
	height: 740px;
}
.about_left {
	float: left;
}
.about_title {
	width: 470px;
	height: 402px;
}
.about_title h2 {
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
	font-size: 60px;
	margin: 0;
}
.about_title p {
	font-family: 'Conv_Overpass-Regular';
	font-size: 20px;
	color: #5e5858;
	margin-top: 40px;
	margin-bottom: 40px;
}
.aboutimg2 {
	position: absolute;
	margin-left: 1045px;
	z-index: 2;
}
.aboutimg1 {
	position: absolute;
	margin-left: 1375px;
	margin-top: 130px;
	z-index: 2;
}
.aboutblur {
	position: absolute;
	top: 1648px;
	left: 277px;
}
.service {
	height: 1648px;
}
.service_title {
	text-align: right;
	width: 771px;
	height: 222px;
	position: relative;
	margin-left: auto;
	margin-right: 0em;
}
.service_title p {
	padding: 0;
	letter-spacing: 5px;
	margin: 0;
	font-size: 24px;
	color: #c04ae2;
	font-family: 'Conv_Overpass-Regular';
}
.service_title h2{
	font-family: 'Conv_Overpass-ExtraBold';
	font-size: 60px;
	color: black;
	margin: 50px auto;
}
.item {
	width: 370px;
	height: 476px;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 30px;
}
.item img {
	margin-top: 70px;
	margin-left: 145px;
}
.service_item1 {
	float: left;
	margin-right: 30px;
	margin-top: 130px;
}
.service_item2 {
	float: left;
	margin-right: 30px;
	margin-top: 215px;
}
.service_item3 {
	float: left;
	margin-top: 300px;
}
.service_text {
	text-align: center;
	width: 274px;
	height: 180px;
	margin: 52px auto 0px;
}
.service_text h3 {
	font-size: 30px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
	margin: 0;
	line-height: 42px;
}
.service_text p {
	margin: 0;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
	font-size: 20px;
	line-height: 28px;
	margin-top: 0px;
}
.arrow img{
	margin-left: 160px;
	margin-top: 20px;
}
.serviceblur {
	position: absolute;
	top: 2961px;
}
.servicebg {
	top: 2421px;
}
.servicestyle {
	position: absolute;
	top: 3550px;
	left: 65px;
}
.portfolio {
	height: 2220px;
}
.portfolio_item1 {
	height: 477px;
	width: 1170px;
	margin-bottom: 90px;
}
.portfolio_item1 img {
	margin-left: 27px;
	margin-top: 27px;
	position: relative;
	z-index: 1;
	float: left;
}
.portfolio_item2 {
	height: 477px;
	width: 1170px;
	margin-bottom: 90px;
}
.portfolio_item2 img {
	margin-left: 60%;
	position: absolute;
	margin-top: -390px;
}
.portfolio_item3 {
	height: 477px;
	width: 1170px;
}
.portfolio_item3 img {
	float: left;
}
.item_frame {
	width: 420px;
	height: 417px;
	border: 7px solid #fcd7df;
	border-radius: 25px;
	position: absolute;
}
.text_item1 {
	position: relative;
	margin-left: 600px;
	padding-top: 55px;
}
.text_item1 p {
	font-size: 20px;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
}
.title p {
	font-family: 'Conv_Overpass-Regular';
	font-size: 24px;
	color: #fe6686;
}
.title h2 {
	font-size: 42px;
	color: black;
	font-family: 'Conv_Overpass-ExtraBold';
	margin: 10px 0px;
}
.portfolio_button {
	margin-left: 600px;
	margin-top: 30px;
	height: 60px;
	width: 200px;
	border: 2px solid #c04ae2;
	border-radius: 7px;
	text-align: center;
}
.portfolio_button p {
	margin: 17px 0px;
	font-size: 20px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
}
.text_item2 {
	padding-top: 55px;
	width: 50%;
}
.text_item2 p {
	font-size: 20px;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
}
.text_item2 .title p {
	color: #54d6a1;
}
.portfolio_item2 .portfolio_button {
	margin-left: 0px;
}
.text_item3 {
	position: relative;
	margin-left: 600px;
	padding-top: 55px;
}
.text_item3 .title p {
	color: #fe9a3f;
}
.portfoliobg {
	position: absolute;
	top: 4671px;
}
.footer .logo {
	margin-top: 170px;
	position: absolute;
}
.footer_text {
	width: 373px;
	text-align: left;
	margin-top: 245px;
	position: absolute;
}
.footer_text p {
	font-size: 18px;
	font-family: 'Conv_Overpass-Regular';
	color: #5e5858;
	text-align: left;
}
.footer_social {
	position: absolute;
	margin-top: 575px;
}
.footer_social p {
	font-family: 'Conv_Overpass-Regular';
	font-size: 18px;
	color: black;
	float: left;
	margin: 0;
}
.footer_social img {
	margin-left: 60px;
}
.footer_about {
	position: absolute;
	margin-top: 170px;
	margin-left: 500px;
}
.footer_service {
	position: absolute;
	margin-top: 170px;
	margin-left: 700px;
}
.footer_about p {
	font-size: 24px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
}
.footer_about a {
	text-decoration: none;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
	font-size: 18px;
}
.footer_service p {
	font-size: 24px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
}
.footer_service a {
	text-decoration: none;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
	font-size: 18px;
}
.footer_get {
	position: absolute;
	margin-top: 170px;
	margin-left: 900px;
}
.footer_get p {
	font-size: 24px;
	font-family: 'Conv_Overpass-ExtraBold';
	color: black;
}
.footer_get img {
	float: left;
	margin-right: 15px;
}
.contacts p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #5e5858;
	font-family: 'Conv_Overpass-Regular';
	font-size: 18px;
}

